@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}
@import "fonts";
@import "vars";
@import "global";
@import "slick";


// * ~~~~~~~~ Header ~~~~~~~~
.header {
  background-color: #fbe2e2;
  background-image: linear-gradient(-235deg, #0ea5ea 0%, #14cefb 100%);

  &__top {
    padding-top: 53px;
    height: 69px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 83px;
    img {
      display: block;
      width: 100%;
    }
  }

  &__menu {
    display: flex;
  }

  &__list {
    &+.header__list {
      margin-left: 60px;
    }
  }

  &__menu-link {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    &::after {
      background-color: #fff;
    }
  }

  &__btn {
    padding: 14px 33px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 2px;
    transition: all .3s ease-out;
    &:hover {
      background-color: #fff;
      color: #16c5f7;
    }
  }

}

// * ~~~~~~~~ Slider ~~~~~~~~
.header-slider {
  position: relative;
  .slick-dots {
    display: flex;
    position: absolute;
    bottom: 56px;
    left: 50%;
    transform: translateX(-50%);
    button {
      border: none;
      border-radius: 50%;
      font-size: 0;
      width: 15px;
      height: 15px;
      background-color: #e3e3e3;

    }
    li + li {
      margin-left: 20px;
    }
  }
  .slick-dots .slick-active {
    button {
      width: 19px;
      height: 19px;
      background-color: #fff;
    }
  }
}

.slider-item {
  margin-top: 112px;
  margin-bottom: 57px;
  padding-bottom: 127px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__info {
    max-width: 510px;
    color: #fff;
    margin-left: 98px;
  }

  &__info-title {
    font-size: 46px;
    font-weight: 700;
    letter-spacing: 1.15px;
    margin-bottom: 28px;
  }

  &__info-text {
    margin-bottom: 39px;
    font-size: 17px;
    font-weight: 300;
    line-height: 24px;
  }
  &__info-btn {
    padding: 10px 43px;
    font-size: 14px;
    font-weight: 700;
    color: #0ea7eb;
    background-color: #fff;
    border: 1px solid #fff;
    transition: all .3s ease-out;
    &:hover {
      background-color: transparent;
      color: #fff;
      border: 1px solid #fff;
    }
  }

  &__img {
    max-width: 478px;
    img {
      width: 100%;
    }
  }
}

// * ~~~~~~~~ Leader ~~~~~~~~
.leader {
  &__inner {
    margin-top: 100px;
    margin-bottom: 183px;
  }

  &__title {
    margin-bottom: 64px;
  }

  &__logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    max-width: 340px;
    width: 100%;
    height: 76px;
    transition: all .3s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      display: block;
      width: 100%;
    }

    &:hover {
      box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
    }

  }
}

.title {}


// * ~~~~~~~~ Tariffs ~~~~~~~~


// * ~~~~~~~~ Advantages ~~~~~~~~
.advantages {

  &__title {
    margin-bottom: 90px;
  }

  &__items {
    margin-bottom: 180px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 70px;
    column-gap: 9%;
  }

  &__item {
    max-width: 322px;
    text-align: center;
  }

  &__item-img {
    width: 85px;
    margin-bottom: 24px;
  }

  &__item-title {
    font-size: 18px;
    font-weight: 700;
    color: $text;
    letter-spacing: 0.45px;
    margin-bottom: 20px;
  }

  &__item-text {

  }
}


// * ~~~~~~~~ Search ~~~~~~~~


// * ~~~~~~~~ Reviews ~~~~~~~~


// * ~~~~~~~~ Gift ~~~~~~~~
.gift {

  &__inner {
    margin-bottom: 186px;
    text-align: center;
  }

  &__img {
    width: 65px;
    margin-bottom: 43px;
  }

  &__text {
    max-width: 590px;
    margin: 34px auto 40px;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.38px;
  }

  &__btn {
    width: 189px;
    height: 45px;
  }
}



// * ~~~~~~~~ Footer ~~~~~~~~



@import "media";